# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.sdf
*.opendb
GameEngine/DemoApp/Debug/*
GameEngine/PhysicsEngine/Debug/*
GameEngine/GraphicsEngine/Debug/*
GameEngine/ArtificialIntelligenceEngine/Debug/*
GameEngine/NetworkingEngine/Debug/*
GameEngine/GameplayEngine/Debug/*
GameEngine/AudioEngine/Debug/*
GameEngine/Debug/*
GameEngine/v15/*
GameEngine/.vs/*
GameEngine/*.sdf
GameEngine/x64/*
GameEngine/DemoApp/Debug/x64/*
GameEngine/PhysicsEngine/Debug/x64/*
GameEngine/GraphicsEngine/Debug/x64/*
GameEngine/ArtificialIntelligenceEngine/Debug/x64/*
GameEngine/NetworkingEngine/Debug/x64/*
GameEngine/GameplayEngine/Debug/x64/*
GameEngine/AudioEngine/Debug/x64/*
GameEngine/Debug/*
*.ipch
*.lastbuildstate
*.pdb
*.user
*.log
*.tlog
*.lastbuildstate
*.lastbuildstate
*.idb
GameEngine/GameplayEngine/x64/Debug/game.nativecodeanalysis.xml
*.xml
*.obj
*.lastbuildstate
*.sarif
*.enc
*.tmp
